html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background: #888;
  width:100%;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

button#btn {
  
  display: inline;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 45px;
  height: 45px;
  width: 45px;
  font-size: 20px;
  border: 1px solid #904102;
  background-color: #fff;
  
}

a.back {
  
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border-radius: 3px;
  height: 31px;
  width: 60px;
  font-size: 20px;
  border: 1px solid #904102;
  background-color: #F97C17;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding-top: 8px;
  
}

.del {
  display: inline-block;
  border-radius: 3px;
  height: 40px;
  width: 100px;
  font-size: 12px;
  border: 1px solid #904102;
  background-color: red !important;
  color: #FFF;

  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 3px;
  padding: 10px 5px;
  
}


.list img { width:32%; border:1.5% solid #6b6b6b;}

.card img {width: 100%; margin-left: auto; margin-right: auto;}

header {
  background-color: #F97C17;
  color: #FFF; 
  
}

.share { 

  display: inline-block;
  border-radius: 3px;
  height: 40px;
  width: 100px;
  font-size: 12px;
  border: 1px solid #904102;
  background-color: #3b5998 !important;
  color: #FFF;

  position: absolute;
  right: 110px;
  bottom: 10px;
  border-radius: 3px;
  padding: 10px 5px;
}

header h1 {
  
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0px;
  height: 100%;
  font-weight: 300;
  text-align: center;
  font-size: 1.8rem;
  padding: 10px 5px;
  
  
}

header h1.single {
 
  margin-left: -20%;
}

.upload {
  
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 3px;
  padding: 10px 5px;
  
}

/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #CF7A7A
}